body{
    background-color: antiquewhite;

}

.h1{
    text-align: center;
}

@keyframes count {

    from{
        transform: translateX(-300px);
    }

    to{
        transform: translateX(0);
    }
  
}

.number {
    position: relative;
    display: inline-block;
    font-size:70px;
    padding: 68px;
    margin: 40px;
    background-color: #f17050;
    border-radius: 5px;
    text-align: center;
    animation: count 1s ease-in ;
    transition: transform .2s ease-in-out;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.2), 0px 0px 15px 3px rgba(0, 0, 0, 0.25);
}

.number:hover {
    transform: scale(1.3);
    z-index: 2;
}

.number img {
    position: absolute;
    top: 50px;
    right: -90px;
    width: 150px;
    height: 150px;
    
}

.number-button {
    position: absolute;
    top: 0;
    left: -0px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 70px;
    border-radius: 50%;
    background-color: #f17050;
    color: black;
    font-size:20px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.number-button:hover {
    background-color:  #ffa584;
}


.number-button i {
    font-size: 25px;
}

.center-button {
    position: absolute;
    left: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 100px;
    margin-top: 20px;
    padding: 0;
    transition: all 0.3s ease-in-out;

    text-align: center;
    
    transform: translateX(-50%);


}

.center-button:hover button {
    background-color: #f14f26;
}

.center-button button {
    padding: 10px 20px;
    background-color: #f17050;
    color: rgb(15, 14, 14);
    border: none;
    cursor: pointer;
    font-size: 20px;
    border-radius: 5%;
}





